<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width-device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href={{favicon}}> {% block stylesheets %}{% endblock %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>

<body>
    <div id="app">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %} {% endblock %}
</body>

</html>
