<!DOCTYPE html>
<html>
<head>
  <title>button</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="../../css/components/button.css">
  <script src="../../libs/js/flexible.js"></script>
</head>
<body>
<div class="fly-button-component">
    <div class="fly-button-source">
      <div>基础的按钮</div>
      <button class="fly-button-sytle fly-button-default">默认按钮</button>
      <button class="fly-button-sytle fly-button-primary">主要按钮</button>
      <button class="fly-button-sytle fly-button-text">文字按钮</button>
      <button class="fly-button-sytle fly-button-default fly-button-row">默认按钮</button>
      <button class="fly-button-sytle fly-button-primary fly-button-row">主要按钮</button>
      <button class="fly-button-sytle fly-button-text fly-button-row">文字按钮</button>
    </div>
    <div class="fly-button-source">
      <div>按钮不可用状态</div>
      <button class="fly-button-sytle fly-button-default disabled">默认按钮</button>
      <button class="fly-button-sytle fly-button-primary disabled">主要按钮</button>
      <button class="fly-button-sytle fly-button-text disabled">文字按钮</button>
    </div>
    <div class="fly-button-source">
      <div>带图标按钮</div>
      <button class="fly-button-sytle fly-button-edit fly-button-item"></button>
      <button class="fly-button-sytle fly-button-share fly-button-item"></button>
      <button class="fly-button-sytle fly-button-delete fly-button-item"></button>
      <button class="fly-button-sytle fly-button-search fly-button-item1">搜索</button>
      <button class="fly-button-sytle fly-button-upload fly-button-item1">上传</button>
    </div>
</div>

</body>
</html>

