<!DOCTYPE html>
<html>
<head>
  <title>dialog</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="../../css/base.css">
  <script src="../../libs/js/flexible.js"></script>
</head>
<body>
    <div class="fly-dialog-component">
        <div class="fly-dialog-layout"></div>
        <div class="fly-dialog-box">
            <div class="fly-dialog-header">标题</div>
            <div class="fly-dialog-content">是否真的要关闭页面</div>
            <div class="fly-dialog-botton">
              <div class="fly-dialog-btn"><a href="">取消</a></div>
              <div class="fly-dialog-btn"><a href="">确认</a></div>
            </div>
        </div>
    </div>
</body>
</html>
