<!DOCTYPE html>
<html>
<head>
  <title>Toast</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="../../css/base.css">
  <script src="../../libs/js/flexible.js"></script>
</head>
<body>
<div class="fly-toast-component">
  <div class="fly-toast-box">
    <div class="fly-toast-botton toast1">点击弹出Toast</div>
    <div class="fly-toast-botton toast2">点击弹出带有icon的Toast</div>
    <div class="fly-toast-botton toast3">自定义Toast位置</div>
  </div>
</div>
<div class="fly-toast-promptInfo">提示消息</div>
<div class="fly-toast-promptInfo">
  <img class="fly-toast-promptIcon" src="../../images/modules/pageDemo/right.png" alt="">
  <p class="fly-toast-promptContent">提示消息</p>
</div>
<div class="fly-toast-promptInfo fly-toast-position">提示消息</div>
</body>
</html>
