<!DOCTYPE html>
<html>

<head>
  <title>Toast</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="../../css/base.css">
  <link rel="stylesheet" href="../../css/components/validation.css">
  <script src="../../libs/js/flexible.js"></script>
</head>

<body>
  <div id="app">
    <h3>验证码输入组件</h3>
    <div class="security-code-wrap security-code">
      <label for="code-kgilu">
        <ul class="block-container security-code-container">
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
        </ul>
      </label>
      <input id="code-kgilu" name="code-kgilu" type="tel" maxlength="4" autocorrect="off" autocomplete="off" autocapitalize="off" class="input-code">
    </div>
    <div class="security-code-wrap security-code">
      <label for="code-vnn1g">
        <ul class="line-container security-code-container">
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
        </ul>
      </label>
      <input id="code-vnn1g" name="code-vnn1g" type="tel" maxlength="4" autocorrect="off" autocomplete="off" autocapitalize="off" class="input-code">
    </div>
    <div class="security-code-wrap security-code">
      <label for="code-s4i9m">
        <ul class="block-container security-code-container">
          <li class="field-wrap"><i class="char-field">*</i></li>
          <li class="field-wrap"><i class="char-field">*</i></li>
          <li class="field-wrap"><i class="char-field">*</i></li>
          <li class="field-wrap"><i class="char-field">*</i></li>
        </ul>
      </label>
      <input id="code-s4i9m" name="code-s4i9m" type="tel" maxlength="4" autocorrect="off" autocomplete="off" autocapitalize="off" class="input-code">
    </div>
    <div class="security-code-wrap security-code">
      <label for="code-nr83l">
        <ul class="line-container security-code-container">
          <li class="field-wrap"><i class="char-field">*</i></li>
          <li class="field-wrap"><i class="char-field">*</i></li>
          <li class="field-wrap"><i class="char-field">*</i></li>
          <li class="field-wrap"><i class="char-field">*</i></li>
        </ul>
      </label>
      <input id="code-nr83l" name="code-nr83l" type="tel" maxlength="4" autocorrect="off" autocomplete="off" autocapitalize="off" class="input-code">
    </div>
    <div class="security-code-wrap security-code">
      <label for="code-vnnje">
        <ul class="block-container security-code-container">
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
        </ul>
      </label>
      <input id="code-vnnje" name="code-vnnje" type="tel" maxlength="6" autocorrect="off" autocomplete="off" autocapitalize="off" class="input-code">
    </div>
    <div class="security-code-wrap security-code">
      <label for="code-dbyua">
        <ul class="line-container security-code-container">
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
          <li class="field-wrap"><i class="char-field">-</i></li>
        </ul>
      </label>
      <input id="code-dbyua" name="code-dbyua" type="tel" maxlength="6" autocorrect="off" autocomplete="off" autocapitalize="off" class="input-code">
    </div>
  </div>
</body>

</html>
